@using UTIL
@{
    ViewBag.Title = "Punto de Venta";
}

<style>
    body {
        background: url('/Content/assets/img/FotosPizzeria/menu-pizza-fondo-pizarra_1284-11715.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
</style>
    <center><h1 style="color:white">Bienvenido @SessionVariables.Session_Datos_Usuarios.Usuario</h1></center>
    <div class="container">
        <div class="row">
            @*<div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class=""></li>
                    <li data-target="#carousel" data-slide-to="1" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="d-none d-lg-block">
                            <div class="slide-box">
                                <img width="350" height="250" src="~/Content/assets/img/FotosPizzeria/03_promo_familiar_bebida.jpg" alt="First slide">
                                <img width="350" height="250" src="~/Content/assets/img/FotosPizzeria/909281-7d0fbbd8-9d91-4551-969d-b1854f692d1f.png" alt="First slide">
                                <img width="350" height="250" src="~/Content/assets/img/FotosPizzeria/familiar-2bebidas.jpg" alt="First slide">

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="d-none d-lg-block">
                            <div class="slide-box">
                                <img width="350" height="250" src="~/Content/assets/img/FotosPizzeria/mediana-bebida1litro-500x412.jpg" alt="Second slide">
                                <img width="350" height="250" src="~/Content/assets/img/FotosPizzeria/Receta-recetas-locos-x-la-parrilla-locosxlaparrilla-receta-pizza-pizza-receta-pizza-mozzarella-pizza-mozzarella.jpg" alt="Second slide">
                                <img width="350" height="250" src="~/Content/assets/img/FotosPizzeria/03_promo_familiar_bebida.jpg" alt="Second slide">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>*@
        </div>
    </div>