@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pizzeria</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/assets/css/default/app.min.css" rel="stylesheet">
    <!-- ================== END BASE CSS STYLE ================== -->

</head>
<body class="pace-top  pace-done">
    <input type="hidden" id="urlLogin" value="@Url.Action("Login", "Login" )" />
    <input type="hidden" id="urlIndex" value="@Url.Action("Index", "Home" )" />
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show d-none"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade show">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image" style="background-image: url(/Content/assets/img/FotosPizzeria/fotoIndex.jpeg)"></div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>Pizzeria</b></h4>
                    <p>
                        VERSION 1.0 /(~_~)/
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-header -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> <b>Pizzeria</b>
                        <small>Login de usuario</small>
                    </div>
                </div>
                <!-- end login-header -->
                <!-- begin login-content -->
                <div class="login-content">
                    <div class="form-group m-b-15">
                        <input type="text" class="form-control form-control-lg" id="Nombre" name="Nombre" placeholder="Nombre Usuario" required>
                    </div>
                    <div class="form-group m-b-15">
                        <input type="password" class="form-control form-control-lg" id="Contrasena" name="Contrasena" placeholder="Contraseña" required>
                    </div>
                    <div class="login-buttons">
                        <input type="button" id="Login" class="btn btn-success btn-block btn-lg" value="Iniciar Sesion" />
                    </div>
                    <hr>
                    <p class="text-center text-black mb-0">
                        &copy; Sistemas Develop
                    </p>
                    @*</form>*@
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->

    <a id="aModalErrorLogin" style="display: none" href="#modalErrorLogin" class="btn btn-sm btn-success" data-toggle="modal">Agregar Direccion Despacho</a>
    <div class="modal fade" id="modalErrorLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Error de Acceso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body text-center">
                    <h4 class="" style="color: red" id="modalErrorLoginMensaje"></h4>
                </div>
                <div class="modal-footer">
                    <a id="aModalErrorLogin" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/js/theme/default.min.js"></script>
    <script src="~/WebJs/Login/Login.js"></script>
    <!-- ================== END BASE JS ================== -->


</body>
</html>